node_modules/
.env
*.log
npm-debug.log*
dist/
build/
.DS_Store
Thumbs.db
venv/
.venv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments (Crucial to ignore!)
.venv/
venv/
ENV/
env/
ENV/
env.bak/
venv.bak/

# Environment variables and secrets
.env
.secret
.secrets

# Testing and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translation files
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# IDEs and editors
.visualstudio
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?